/**
 * grid.css
 *
 * Custom grid styles as needed
 *
**/

/***************** grid basic setup styles */

[class*="grid-"] {
	display: grid;
	padding: 0 !important;
}

[class*=grid-] > * {
	display: block;
	list-style: none;
	padding: 10px;
	width: 100%;
}

@media screen and (min-width: 400px) {

	.grid-2,
	.grid-3 {
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

}

@media screen and (min-width: 768px) {

	.grid-3 {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}

}

@media screen and (min-width: 1024px) {



}
