/**
 * layout.css
 *
 * Sections, major components and containing elements
 * Layouts specify widths and margins
 *
 * - Grid systems have their own stylesheet
 * - Mostly use single class names
 * - No use of ID's
 * - No use of !important
 * - Prefix layout classes with l-
 *
**/

.l-container {
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

	.l-container {
		max-width: 1170px;
	}

}
